{{ define "main" }}
<div class="top-title">
  <h1>周末项目</h1>
  <small>不求一跃千里，但求日进一步</small>
</div>
<div id="top-bg"></div>
<div id="scroll-down-icon"></div>
<main class=" home-content ">



  <section
    class="prose prose-neutral relative mx-auto min-h-[calc(100%-10rem)] max-w-3xl px-8 pt-20  dark:prose-invert">

    <div class="home">
      <div class="btns mx-auto text-center">
        {{ range where .Site.RegularPages "Type" "year" }}
        <nav class="btn mr-1">{{ .Title}}</nav>
        {{ end }}
      </div>
      <div class="mt-12  ">
        {{ range where .Site.RegularPages "Type" "year" }}
        <div class="content ">{{ .Content}}</div>
        {{ end }}
      </div>
    </div>

    <div class="grid mt-12  ">
      {{.Content}}
    </div>

  </section>

  <div class="relative my-10  mx-auto  max-w-3xl px-8">
    <p><strong>最新文章</strong></p>
  </div>

  {{ range first 5 (where .Site.RegularPages "Type" "posts") }}

  <section class="relative my-10  mx-auto  max-w-3xl px-10">
    <h2 class="!my-0 pb-1 !leading-none">{{ .Title }}</h2>
    <time class="text-sm opacity-60">{{ .Date | time.Format ":date_medium" }}</time>
    <a class="absolute inset-0" href="{{ .Permalink }}"></a>
  </section>
  {{ end }}
  {{ partial "footer.html" . }}
</main>

<script>
  var bt = document.getElementById('scroll-down-icon')
  bt.addEventListener("click", function () {
    document.getElementsByClassName('prose')[0].scrollIntoView({
      behavior: "smooth"
    });
  })
  setTimeout(() => {
    document.getElementById('top-bg').classList.add('load')
  }, 300);
  const navs = Array.from(document.querySelectorAll('.home nav'))
  const wins = Array.from(document.querySelectorAll('.home .content'))
  wins.forEach((item, index) => {
    if (index != 0) {
      item.classList.add('hidden')
      navs[index].classList.add('btn-second')
    }
  })
  navs.forEach((nav, index) => {
    nav.addEventListener("click", function (e) {
      wins.forEach(item => item.classList.add('hidden'))
      navs.forEach(item => item.classList.add('btn-second'))
      wins[index].classList.remove('hidden')
      navs[index].classList.remove('btn-second')
    })
  })
</script>
{{ end }}